.header {
  width: 100%;
  height: 9rem;
  background-image: url(../../assets/images/DYYZN8VKR7`MIPYKVWMCJZQ.jpg);
  background-size: 100% 100%;
}

.header-col {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;

}

.header-col1 {
  display: flex;
  margin-top: 0.3rem;

  >img {
    width: 0.6rem;
    height: 0.6rem;
    margin-top: -0.1rem;
  }

  >span {
    font-size: 0.4rem;
    color: #ffffff;
    margin-left: 0.3rem;
  }
}

.header-col2 {
  margin-top: 0.1rem;

  img {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }
}

.header-text {
  margin-top: 1.2rem;

  .header-text-col {
    font-size: 0.6rem;
    color: #ffffff;
    text-align: center;
  }

  .header-text-col1 {
    font-size: 0.6rem;
    color: #ffffff;
    text-align: center;
    font-size: bold;
  }

  .header-text-col2 {
    width: 80%;
    margin-left: 10%;
    font-size: 0.3rem;
    color: #ffffff;
    text-align: center;
    line-height: 15px;
    font-weight: bold;

  }

  .header-text-col3 {
    font-size: 0.3rem;
    color: #ffffff;
    text-align: center;
    margin-top: 0rem;
  }

  .header-text-col4 {
    font-size: 0.3rem;
    color: #ffffff;
    text-align: center;
    margin-top: 0rem;
  }

  .header-text-col5 {
    font-size: 0.3rem;
    color: #ffffff;
    text-align: center;
    margin-top: 0rem;
  }
}

.header-button {
  text-align: center;

  button {
    padding: 8px 28px !important;
    border-radius:2px;
    margin-top: 0.8rem;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 15px;
  }
}
.tab-content {
  visibility: inherit;
  h4 {
    font-size: 24px;
    line-height: 1.25
  }
  p {
    color: #A6A3A3;
    margin-top: 11px;
  }
  .tab-pane {
    visibility: inherit;
  }
}
.form-col {
  >input {
    width: 100%;
    height: 1.3rem;
    background-color: rgb(246, 243, 247);
    border: none;
    padding: 0.3rem;
  }
}

.form-col1 {
  >input {
    width: 100%;
    height: 1.3rem;
    background-color: rgb(246, 243, 247);
    border: none;
    padding: 0.3rem;
    margin-top: 0.5rem;
  }
}

.form-col2 {
  width: 100%;
  height: 4rem;
  background-color: rgb(246, 243, 247);
  border: none;
  padding: 0.3rem;
  margin-top: 0.5rem;
}

.form-col3 {
  width: 100%;
  height: 1.3rem;
  background-color: rgb(246, 243, 247);
  border: none;
  padding: 0.3rem;
  margin-top: 0.5rem;
}

.form-col4 {
  >button {
    width: 100%;
    margin-left: 3%;
    height: 1.5rem;
    background-image: linear-gradient(to right, #6C81E4, #3C61AC);
    font-size: 0.4rem;
    color: #ffffff;
    border: none;
    margin-top: 0.8rem;
  }
}
.c-contact {
  background-image: url(../../assets/images/bg-image-1-1920x900.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  height: 612px;
  .c-contact-title {
    text-align: center;
    font-size: 15px;
    padding-top: 47px;
    margin-bottom: 38.5px;
    width: 100%;
    span {
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
    }
  }

  .c-contact-qr-code {
    margin: auto;
    width: 225.5px;
    height: 212px;
    background: rgba(220, 220, 220, 1);
    border: 1px solid rgba(220, 220, 220, 1);
    box-shadow: 2px 5px 11px 1px rgba(0, 0, 0, 0.04);
    opacity: 0.75;
    margin-bottom: 35.5px;
    text-align: center;
    img {
      width: 107px;
      height: 106px;
      margin-top: 25px;
    }
    .qr-describe {
      font-size: 10px;
      font-weight: bold;
      color: rgba(102, 102, 102, 1);
      line-height: 18px;
      padding-left: 16px;
      padding-right: 16px;
      word-spacing: 1px;
      letter-spacing: 1px;
    }
  }
  .c-contact-qr-code:last-child {
    margin-bottom: 0;
  }
}

.bg-div {
  >p {
    font-size: 0.5rem;
    color: #ffffff;
    text-align: center;
    padding-top: 0.8rem;
  }
}

.bg-div1 {
  width: 60%;
  margin: auto;
  height: 7.5rem;
  background-color: rgb(246, 243, 247);
  margin-top: 1rem;
  opacity: 0.8;

  >img {
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
  }

  .bg-div1-p {
    width: 80%;
    margin-left: 10%;
    font-size: 0.4rem;
    text-align: center;
    line-height: 0.6rem;
  }

  .bg-div1-p1 {
    width: 80%;
    margin-left: 10%;
    font-size: 0.4rem;
    text-align: center;
    margin-top: 0.2rem;
  }

}

#myInput::-webkit-input-placeholder {
  font-size: 16px;
  color: #ffffff;
}

.drawer {
  width: 45%;
  height: 10rem;
  background-color: rgb(246, 243, 247);
  position: absolute;
  top: 1rem;
  z-index: 111;
  //  display: none;
}

.drawer-ul {
  color: #000;

  >ul {
    display: flex;
    flex-direction: column;
    height: 10rem;

    >li {
      font-size: 0.5rem;
      margin-top: 0.3rem;
      padding: 0.2rem 0 0.2rem 0.4rem;

      >a {
        color: #000;
      }
    }

    >li:hover {
      background-color: #3C61AC;
    }

  }
}

// 顶部弹框
.showModalImg-img{
  width: 1rem;
  height: 1rem;
}

.clickCheck{
  >ul{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;

  }
  .check-col{
    padding: 5px 0;
  }

  .check-col span:nth-child(1) {
  color: #807c7c;
}

.check-col span:nth-child(2) {
  color: #000;
}

.check-col-img {
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.3rem;
}

.check-col-img1 {
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.3rem;
}

.check-col-img2 {
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.3rem;
}
}


.elDrawer {
  margin-top: 30px;
}

.motl {
  left: 152px;
}

.getname {
  width: 350px;
  margin-left: 2%;  
  border: none;
  margin-top: 0.5rem;
  padding-left: 0.3rem;
  overflow: hidden;
}

.getphone {
  width: 350px;
  margin-left: 2%; 
  border: none;
  padding-left: 0.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  overflow: hidden;
}

.getmessage {
  width: 350px;
  margin-left: 2%; 
  border: none;
  padding-left: 0.3rem;
  overflow: hidden;
}

.getemail {
  width: 350px;
  margin-left: 2%; 
  border: none;
  padding-left: 0.3rem;
  margin-top: 20px;
  overflow: hidden;
}

.contact-us-section{
  overflow: hidden;
}
